:root {
    --text-color: #ffffff;
    --background-color: #fff;
    --catalog-item-background-color: #DDDD;
    --header-background-color: #8380b5;
    --header-border-background-color: #8380b5;
    --header-button-color: #e2a287;
    --header-button-hover-color: #ffb798;
    --header-button-dropdown-background-color: #ffffff;
    --header-button-dropdown-text-color: #000000;
    --expanded-image-background-color: #282a2e;
    --expanded-image-background-text-color: #fa9c80;    
    --sidebar-background-color: #e6e6e6;
    --sidebar-preview-background-color: #282a2e;
    --sidebar-preview-text-color: #ffb798;
    --sidebar-separator-color: #636e82;
    --setting-background-color: #e6e6e6;
    --setting-button--selectedcolor: #cf6855;
    --setting-button-selected-text-color: #ffffff;
    --setting-button-selected-hover-color: #e6e6e6;
    --setting-button-selected-hover-text-color: #fa9c80;
    --setting-button-unselected-color: #e6e6e6;
    --setting-button-unselected-text-color: #000000;
    --setting-button-unselected-hover-color: #fa9c80;
    --setting-button-unselected-hover-text-color: #ffffff;
    --tag-button-selected-color: #3773a7;
    --tag-button-selected-text-color: #e6e6e6;
    --tag-button-selected-border-color: #3773a7;
    --tag-button-selected-hover-color: #e6e6e6;
    --tag-button-selected-hover-text-color: #3773a7;
    --tag-button-selected-hover-border-color: #3773a7;
    --tag-button-unselected-color: #e6e6e6;
    --tag-button-unselected-text-color: #000000;
    --tag-button-unselected-border-color: #4b9de4;
    --tag-button-unselected-hover-color: #4b9de4;
    --tag-button-unselected-hover-text-color: #ffffff;
    --tag-button-unselected-hover-border-color: #4b9de4;
    --scrollbar-thumb-color: #3f84c0;
    --scrollbar-thumb-hover-color: #4b9de4;

    /* #FFA66A #ff8533 #993d00   */ 
    /* #282a2e #3f84c0 #3773a7 */
    /* #b3c6ff #809fff #4d79ff */
    /* #FFA66A #ff8533 #993d00   */
    /* #FFA66A #ff7d78 #b24d49   */

}

#previous-page-button, #next-page-button{
    filter: none;
}