:root {
    --text-color: #ffffff;
    --background-color: #1d1f21;
    --catalog-item-background-color: #282a2e;
    --header-background-color: #41414d;
    --header-border-background-color: #41414d;
    --header-button-color: #636e82;
    --header-button-hover-color: #8492ad;
    --header-button-dropdown-background-color: #282a2e;
    --header-button-dropdown-text-color: #ffffff;
    --expanded-image-background-color: #1d1f21;
    --expanded-image-background-text-color: #ffffff;
    --sidebar-background-color: #303238;
    --sidebar-preview-background-color: #303238;
    --sidebar-preview-text-color: #ffffff;
    --sidebar-separator-color: #636e82;
    --setting-background-color: #303238;
    --setting-button-selected-color: #cf6855;
    --setting-button-selected-text-color: #ffffff;
    --setting-button-selected-hover-color: #303238;
    --setting-button-selected-hover-text-color: #fa9c80;
    --setting-button-unselected-color: #303238;
    --setting-button-unselected-text-color: #ffffff;
    --setting-button-unselected-hover-color: #fa9c80;
    --setting-button-unselected-hover-text-color: #ffffff;
    --tag-button-selected-color: #3773a7;
    --tag-button-selected-text-color: #ffffff;
    --tag-button-selected-border-color: #3773a7;
    --tag-button-selected-hover-color: #303238;
    --tag-button-selected-hover-text-color: #3773a7;
    --tag-button-selected-hover-border-color: #3773a7;
    --tag-button-unselected-color: #303238;
    --tag-button-unselected-text-color: #ffffff;
    --tag-button-unselected-border-color: #4b9de4;
    --tag-button-unselected-hover-color: #4b9de4;
    --tag-button-unselected-hover-text-color: #ffffff;
    --tag-button-unselected-hover-border-color: #4b9de4;
    --scrollbar-thumb-color: #636e82;
    --scrollbar-thumb-hover-color: #4b9de4;


    --header-height: 45px;
    --image-invert: 1;
    --image-brightness: 0;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: "headerFont";
    src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
}

/*--------------------------------------------------------------------- Other */

#loading-spinner {
    position: absolute;
    left: 55%;
    top: 50%;
}

#mascot {
    background-repeat: no-repeat;
    height: auto;
    width: 500px;
    bottom: 0;
    right: 30%;
    position: fixed;
    display: none;
}

.disable {
    pointer-events: none;
}

/*--------------------------------------------------------------------- Other End */
/*--------------------------------------------------------------------- Header */

#page-navigation-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: auto;
}

#page-select-input {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    color: white;
    height: var(--header-height);
    width: 60px;
    margin-top: 0px;
    font-size: 20px;
    border: none;
}

#previous-page-button,
#next-page-button {
    padding: 5px 0px 0px 0px;
    width: calc(var(--header-height) - 10px);
    height: calc(var(--header-height) - 10px);
    filter: brightness(var(--image-brightness)) invert(var(--image-invert));
    opacity: 0.8;
}

#previous-page-button:hover,
#next-page-button:hover {
    opacity: 1;
}

#previous-page-button.disabled-navigation-button, #next-page-button.disabled-navigation-button {
    pointer-events: none;
    opacity: 0.2;
}


#header {
    background-color: var(--header-background-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    aligin: center;
    height: var(--header-height);
    width: 100%;
    min-width: 850px;
    border-bottom: solid var(--header-border-background-color) 1px;
    display: flex;
    flex-direction: row;
    align-items: start;
    z-index: 20;
}

#history-selector {
    position: absolute;
    text-decoration: none;
    border: none;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    font-size: 15px;
    border-radius: 3px;
    background-color: var(--header-button-color);
    color: transparent;
}

#history-selector:hover {
    background-color: var(--header-button-hover-color);
}

#history-button {
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    padding-left: 2px;
    padding-top: 2px;
    pointer-events: none;
    z-index: 2;
}

#search-bar-container {
    display: flex;
    width: 50%;
    margin-top: 2.5px;
    margin-left: 33%;
}

#search-bar {
    text-decoration: none;
    border: none;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 3px;
    padding: 0 5 0 5;
    flex: 5;
}

#search-bar-resolution-selector {
    background-color: white;
    text-decoration: none;
    border: none;
    height: 40px;
    font-size: 15px;
    margin-right: 5px;
    border-radius: 3px;
    flex: 1;
}

#search-button {
    background-color: var(--header-button-color);
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 5px;
    padding: -10;
    flex: 1;
}

#search-button:hover {
    background-color: var(--header-button-hover-color);
}


/*--------------------------------------------------------------------- Header End*/
/*--------------------------------------------------------------------- Catalog Container */

#catalog-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 300px;
    padding-left: 50px;
    align-items: top;
    justify-content: center;
}

.catalog-item {
    width: 200px;
    height: 150px;
    padding: 10;
    margin: 10 10 10 10;
    background: var(--catalog-item-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.catalog-image-wide {
    width: 100%;
    height: auto;
}

.catalog-image-tall {
    width: auto;
    height: 100%;
}

/*--------------------------------------------------------------------- Catalog Container End*/
/*--------------------------------------------------------------------- Expanded Image Container */

#expanded-image-container {
    background-color: var(--expanded-image-background-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-position-counter {
    position: fixed;
    width: 100%;
    text-align: right;
    top: 0;
    font-size: 30px;
    z-index: 100;
    color: var(--expanded-image-background-text-color);
}

#expanded-webm {
    background-color: var(--expanded-image-background-color);;
}

#expanded-image {
    height: auto;
    max-width: 95%;
    max-height: 95%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);

}

.expanded-tall {
    width: auto;
    max-width: 95%;
    max-height: 95%;
}

/*--------------------------------------------------------------------- Expanded Image Container End*/
/*--------------------------------------------------------------------- Sidebar Container */

#sidebar-container {
    background-color: var(--sidebar-background-color);
    position: fixed;
    width: 310px;
    height: 100%;
    top: 45px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#sidebar-settings-container {
    background-color: var(--setting-background-color);
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid var(--sidebar-separator-color);
}

#sidebar-all-tags-container,
#sidebar-selected-tag-container {
    padding-left: 5px;
    padding-right: 5px;
    width: 100% - 10px;
    height: calc(100% - 109px);
    display: none;
    overflow: scroll;
}

.sidebar-setting-button {
    background-color: var(--setting-button-selected-color);
    padding: 5px;
    margin: 5 0 5 0;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: var(--setting-button-selected-text-color);
    border-width: thin;
    border-style: solid;
    border-color: var(--setting-button-selected-color);
    border-radius: 0px;
}

.sidebar-setting-button:hover {
    transition: background-color 0.4s ease;
    background-color: var(--setting-button-selected-hover-color);
    border-color: var(--setting-button-selected-hover-text-color);
    color: var(--setting-button-selected-hover-text-color);
}

.sidebar-setting-button-disabled {
    background-color: var(--setting-button-unselected-color);
    color: var(--setting-button-unselected-text-color);
}

.sidebar-setting-button-disabled:hover {
    background-color: var(--setting-button-unselected-hover-color);
    border-color: var(--setting-button-unselected-hover-color);
    color:var(--setting-button-unselected-hover-text-color);
}

#sidebar-preview-container {
    background-color: var(--sidebar-preview-background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 10px 0 5px 0px rgba(0,0,0,0.25);
    display: none;
}

#sidebar-preview-info {
    padding: 10px;
    font-size: 18px;
    color: var(--sidebar-preview-text-color);
    line-height: 30px;
    overflow:hidden;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

#sidebar-preview-image {
    position: absolute;
    max-height: 600px;
    z-index: 1;
}

#sidebar-preview-image-tmp {
  position: relative;
  max-height: 600px;
  z-index: 0;
}


/*--------------------------------------------------------------------- Sidebar Container End */
/*--------------------------------------------------------------------- Tags */

.tag-item {
    display: block;
    margin: 5 0 5 0;
    background-color: var(--tag-button-unselected-color);
    border-color: var(--tag-button-unselected-border-color);
    color:  var(--tag-button-unselected-text-color);
    padding: 5px;
    font-size: 15px;
    word-break: break-word;
    border-width: thin;
    border-style: solid;
    text-decoration: none;
}

.tag-item:hover {
    transition: background-color 0.4s ease;
    background-color: var(--tag-button-unselected-hover-color);
    border-color: var(--tag-button-unselected-hover-border-color);
    color: var(--tag-button-unselected-hover-text-color);
}

.selected-tag {
    background-color: var(--tag-button-selected-color);
    border-color: var(--tag-button-selected-border-color);
    color:  var(--tag-button-selected-text-color);
}

.selected-tag:hover {
    background-color: var(--tag-button-selected-hover-color);
    border-color: var(--tag-button-selected-hover-border-color);
    color:  var(--tag-button-selected-hover-text-color);
}

/*--------------------------------------------------------------------- Tags End*/
/*--------------------------------------------------------------------- GUI */

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: 1920px 600px;
    background-position: 100px 100%;
}

button {
    outline: none;
}

input:focus {
    outline-width: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select option {
    background: var(--header-button-dropdown-background-color);
    color: var(--header-button-dropdown-text-color);
}

select:active, select:hover, select:focus {
    outline-width: 0;
}

video {
    background-color: var(--catalog-item-background-color);
    width: 80%;
    height: 80%
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

.invisible-scrollbar::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--sidebar-background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: var(--header-button-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--header-button-hover-color);
}

::-webkit-scrollbar-corner {
       background: var(--sidebar-background-color);
}
/*--------------------------------------------------------------------- GUI End*/