
:root {
    --text-color: #ffffff;
    --image-background-color: #DDDD;
    --highlight-color: #c5c8c6;
    --background-color: #fff;
    --sidebar-background-color: #4a4e4d;
    --large-image-background-color: rgba(00, 00, 00, 0.8);
    --header-background-color: #fe8a71;
    --header-border-background-color: #fe8a71;
    --container-background-color: #eee;
    --header-height: 45px;
    --image-invert: 0;
    --image-brightness: 0;
    --clear-button-color: #ff6a7b;
    --clear-highlight-button-color: #E65162;
    --search-button-color: #f6cd61;
    --search-highlight-button-color: #f7d780;
    --setting-button-color: #b24d49;
    --setting-highlight-button-color: #ff7d78;
    --setting-selected-button-color: #ff7d78;
    --setting-background-color: #414141;
    --tag-button-color: #5B81A0;
    --tag-highlight-button-color: #8EB4D3;
    --tag-selected-button-color: #8EB4D3;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

#previousPageButton, #nextPageButton{
    filter: none;
}

::-webkit-scrollbar-thumb {
    background: #ff7d78;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}
