@font-face {
    font-family: "headerFont";
    src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
}

:root {
    --text-color: #ffffff;
    --image-background-color: #282a2e;
    --highlight-color: #c5c8c6;
    --background-color: #1d1f21;
    --sidebar-background-color: #303238;
    --large-image-background-color: rgba(00, 00, 00, 0.8);
    --header-background-color: #282a2e;
    --header-border-background-color: #1d1f21;
    --container-background-color: #eee;
    --header-height: 45px;
    --image-invert: 1;
    --image-brightness: 0;
    --background-color: #1d1f21;
    --clear-button-color: #ff6a7b;
    --clear-highlight-button-color: #E65162;
    --search-button-color: #78a259;
    --search-highlight-button-color: #5F8940;
    --setting-button-color: #370e4c;
    --setting-highlight-button-color: #664481;
    --setting-selected-button-color: #664481;
    --setting-background-color: #414141;
    --tag-button-color: #284E6D;
    --tag-highlight-button-color: #5b81a0;
    --tag-selected-button-color: #5b81a0;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: 1920px 600px;
    background-position: 100px 100%;
}

button {
    outline: none;
}


#loading-spinner {
    position: absolute;
    left: 55%;
    top: 50%;
}

#mascot {
    background-repeat: no-repeat;
    height: auto;
    width: 500px;
    bottom: 0;
    right: 30%;
    position: fixed;
    display: none;
}

#page-navigation-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: auto;
}

#page-select-input {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    color: white;
    height: var(--header-height);
    width: 60px;
    margin-top: 0px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    margin-left: 15px;
}

#previous-page-button {
    display: none;
}

#previous-page-button,
#next-page-button {
    padding: 5px 5px 0px 5px;
    width: calc(var(--header-height) - 10px);
    height: calc(var(--header-height) - 10px);
    filter: brightness(var(--image-brightness)) invert(var(--image-invert));
    opacity: 0.8;
}

#previous-page-button:hover,
#next-page-button:hover {
    opacity: 1;
}

#header {
    background-color: var(--header-background-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    aligin: center;
    height: var(--header-height);
    width: 100%;
    min-width: 850px;
    border-bottom: solid var(--header-border-background-color) 1px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

input:focus {
    outline-width: 0;
}

#history-selector {
    position: absolute;
    text-decoration: none;
    border: none;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    font-size: 15px;
    border-radius: 3px;
    background-color: var(--search-button-color);
    color: transparent;
}

#history-selector:hover {
    background-color: var(--search-highlight-button-color);
}

select option {
    background: #fff;
    color: black;
}

select:active,
select:hover,
select:focus {
    outline-width: 0;
}


#history-button {
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    padding-left: 2px;
    padding-top: 2px;
    pointer-events: none;
    z-index: 2;
}


#search-bar-container {
    display: flex;
    width: 50%;
    margin-top: 2.5px;
    margin-left: 33%;
}

#search-bar {
    text-decoration: none;
    border: none;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 3px;
    padding: 0 5 0 5;
    flex: 5;
}

#search-bar-resolution-selector {
    background-color: #ffff;
    text-decoration: none;
    border: none;
    height: 40px;
    font-size: 15px;
    margin-right: 5px;
    border-radius: 3px;
    flex: 1;
}

#search-button {
    background-color: var(--search-button-color);
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    /*margin: 0 0 0 2;*/
    border-radius: 5px;
    padding: -10;
    flex: 1;
}

#search-button:hover {
    background-color: var(--search-highlight-button-color);
}

#sidebar-container {
    background-color: var(--sidebar-background-color);
    position: fixed;
    width: 300px;
    height: 100%;
    top: 45px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#sidebar-settings-container {
    background-color: var(--setting-background-color);
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#sidebar-all-tags-container,
#sidebar-selected-tag-container {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: calc(100% - 105px);
    display: inline-block;
    overflow: scroll;
}

.sidebar-setting-button {
    background-color: var(--setting-selected-button-color);
    padding: 5px;
    margin: 5 0 5 0;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 8px;
}


.sidebar-setting-button:hover {
    background-color: var(--clear-button-color);
}

.sidebar-setting-button-disabled {
    background-color: var(--setting-button-color);
}

.sidebar-setting-button-disabled:hover {
    background-color: var(--setting-highlight-button-color);
}

.disable {
    pointer-events: none;
}


.tag-item {
    display: block;
    margin: 5 0 5 0;
    background-color: var(--tag-button-color);
    padding: 5px;
    font-size: 15px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    word-break: break-word;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.tag-item:hover {
    background-color: var(--tag-highlight-button-color);
}

.selected-tag {
    background-color: var(--tag-selected-button-color);
}

.selected-tag:hover {
    background-color: var(--clear-button-color);
}

#catalog-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 300px;
    align-items: center;
    justify-content: center;
}

#expanded-image-container {
    background-color: var(--large-image-background-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}


#expanded-image {
    height: auto;
    max-width: 95%;
    max-height: 95%;
}

.expanded-tall {
    width: auto;
    max-width: 95%;
    max-height: 95%;
}

video {
    background-color: var(--image-background-color);
    width: 80%;
    height: 80%
}

.catalog-item {
    width: 200px;
    height: 150px;
    padding: 10;
    margin: 10 10 10 10;
    background: var(--image-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.catalog-image-wide {
    width: 100%;
    height: auto;
}

.catalog-image-tall {
    width: auto;
    height: 100%;
}

@media screen and (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}


html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--sidebar-background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

::-webkit-scrollbar-corner {
    background: var(--sidebar-background-color);
}